/*Fonts*/
@font-face {
    font-family: 'montserratblack';
    src: url('../fonts/montserrat-black.eot');
    src: url('../fonts/montserrat-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-black.woff2') format('woff2'),
         url('../fonts/montserrat-black.woff') format('woff'),
         url('../fonts/montserrat-black.ttf') format('truetype'),
         url('../fonts/montserrat-black.svg#montserratblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold.eot');
    src: url('../fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold.woff2') format('woff2'),
         url('../fonts/montserrat-bold.woff') format('woff'),
         url('../fonts/montserrat-bold.ttf') format('truetype'),
         url('../fonts/montserrat-bold.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratextra_bold';
    src: url('../fonts/montserrat-extrabold.eot');
    src: url('../fonts/montserrat-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-extrabold.woff2') format('woff2'),
         url('../fonts/montserrat-extrabold.woff') format('woff'),
         url('../fonts/montserrat-extrabold.ttf') format('truetype'),
         url('../fonts/montserrat-extrabold.svg#montserratextra_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrathairline';
    src: url('../fonts/montserrat-hairline.eot');
    src: url('../fonts/montserrat-hairline.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-hairline.woff2') format('woff2'),
         url('../fonts/montserrat-hairline.woff') format('woff'),
         url('../fonts/montserrat-hairline.ttf') format('truetype'),
         url('../fonts/montserrat-hairline.svg#montserrathairline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light.eot');
    src: url('../fonts/montserrat-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light.woff2') format('woff2'),
         url('../fonts/montserrat-light.woff') format('woff'),
         url('../fonts/montserrat-light.ttf') format('truetype'),
         url('../fonts/montserrat-light.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('truetype'),
         url('../fonts/montserrat-regular.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemi_bold';
    src: url('../fonts/montserrat-semibold.eot');
    src: url('../fonts/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-semibold.woff2') format('woff2'),
         url('../fonts/montserrat-semibold.woff') format('woff'),
         url('../fonts/montserrat-semibold.ttf') format('truetype'),
         url('../fonts/montserrat-semibold.svg#montserratsemi_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratultra_light';
    src: url('../fonts/montserrat-ultralight.eot');
    src: url('../fonts/montserrat-ultralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-ultralight.woff2') format('woff2'),
         url('../fonts/montserrat-ultralight.woff') format('woff'),
         url('../fonts/montserrat-ultralight.ttf') format('truetype'),
         url('../fonts/montserrat-ultralight.svg#montserratultra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
  font-family: 'montserratregular';
  overflow-x: hidden;
}
p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #18BC9C;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'montserratregular';
  text-transform: uppercase;
  font-weight: 700;
}
hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #18BC9C;
  color: white;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}
.img-centered {
  margin: 0 auto;
}
header {
  text-align: center;
  background: #18BC9C;
  color: white;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: 'montserratbold';
  text-transform: uppercase;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}
.sin-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.circulo{
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-color: transparent !important;
  background: #B8B8B8 !important;
  position: relative;
  left: 15px;
  margin-top: 20px;
}
.circulo i{
  font-size: 25px;
    position: relative;
    top: 5px;
}
.circulo:hover{
  background: black !important;
}
footer p span{
  color: #FFE400 !important;
}
#container-noticias{
  padding-top: 450px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 60px;
}
#container-single{
  padding-top: 150px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 60px;
}
.tipo-pais{
    float: left;
    position: relative;
    top: 15px;
    font-weight: 700;
    font-size: 25px;
    left: -10px;
}
.tipo-pais img{
  position: relative;
  top: -4px;
}
.logo{
  width: 220px;
  position: relative;
  top: -15px;
}
.fijar{
  position: fixed;
  top: 180px;
  margin-left: 46px;
  margin-top: -31px;
}
.fijar-derecha{
  position: fixed;
  top: 180px;
  right: 40px;
}
.fijar-derecha h2{
  width: 82%;
  margin-top: -10px !important;
}
.container-agregate{
  margin-right: -14px;
  position: relative;
  top: 10px;
}
.container-agregate p{
  font-size: 14px;
  color: white;
  text-align: right;
  font-family: 'montserratregular';
  text-transform: initial;
  display: inline-block;
  text-shadow: 3px 3px 2px black;
}
.container-agregate a,
.container-agregate button{
  background: #FFE400;
  border-radius: 0px;
  padding-left: 23px !important;
  padding-right: 23px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  position: relative;
  top: -10px;
  font-size: 18px !important;
  font-family: 'montserratbold' !important;
  margin-left: 10px;
  -webkit-box-shadow: 9px 9px 9px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 9px 9px -6px rgba(0,0,0,0.75);
  box-shadow: 9px 9px 9px -6px rgba(0,0,0,0.75);
  z-index: 10;
  border-color: transparent;
}
.container-agregate .btn-default:hover{
  background: #fdd300 !important; 
  border-color: transparent !important;
}
.dropdown{
  padding-left: 10px;
}
.navbar-default .navbar-nav>.active>a{
  background-color: transparent !important;
  color: inherit !inherit;
}
.dropdown-menu{
  background-color: black !important;
  min-width: 146px !important;
}
.dropdown-menu li > a{
  font-size: 16px !important;
  padding: 1px 11px;
}
.glyphicon-triangle-bottom{
  position: relative;
  top: 0px;
  color: #333;
  font-size: 20px;
}
.dropdown-menu li > a:hover{
  background: none !important;
}
.slogan{
  text-align: center;
  width: 75%;
  margin: 0 auto;
  position: relative;
  top: 50px;
  font-size: 50px;
  color: white;
  text-shadow: 3px 3px 2px black;
  margin-top: 30px;
}
.titulo-note{
  font-family: 'montserratregular';
  font-size: 15px;
  color: black;
  text-transform: capitalize;
  margin-top: 5px !important;
  margin-bottom: 2px !important;
  display: inline-block;
  text-align: left;
}
.resulta-title{
  font-family: 'montserratregular';
  font-size: 18px;
  color: black;
  text-transform: inherit !important;
}
.resulta-title span{
  font-family: 'montserratlight' !important;
}
.container-tweets p{
    font-family: 'montserratregular';
    font-size: 15px;
    color: black;
    text-transform: capitalize;
    margin-top: 5px !important;
    margin-bottom: 2px !important;
    display: inline-block;
    text-align: left;
}
.container-tweets p span{
  font-size: 14px;
  font-family: 'montserratlight';
  padding-left: 5px;
}
.contenido-teets{
    font-size: 14px !important;
    line-height: 19px !important;
    font-family: 'montserratultra_light' !important;
}
.titulohashtag{
  font-family: 'montserratregular';
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  padding-left: 30px;
  padding-top: 5px;
  color: #3B94D9;
  padding-bottom: 10px;
  border-bottom: 1px solid #d1d1d1;
}
.icon-colectivo{
  background-image: url('../img/icon.png');
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 18px;
}
.icon-faces{
  background-image: url('../img/face-single.png');
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 10px;
}
.lugar-fecha{
  color: #8F8F8F;
  font-size: 14px;
  font-family: 'montserratultra_light';
  padding-left: 42px;
  top: -3px;
  position: relative;
  text-transform:capitalize;
}
.contenido-note{
  padding-left: 42px;
  font-size: 14px;
  line-height: 19px;
  font-family: 'montserratultra_light';
}
.content-noticias:hover{
  background: #F2F2F2;
  cursor: pointer;
}
#inifiniteLoader{
  text-align: center;
  margin: 0 auto;
}
#inifiniteLoader img{
  width: 30px;
  height: 30px;
  text-align: center;
}
.read-more{
  font-family: 'montserratlight';
  float: right;
  color: #0035AA;
  font-size: 16px;
}
.read-more:hover{
  color: #2E4DA8 !important;
  text-decoration: none !important;
}
.contenido-note:first-line{
  font-family: 'montserratregular';
  font-size: 17px;
}
.container-search{
  text-align: center;
  margin: 80px auto;
}
.navbar-form .input-group{
  width: 50%;
  text-align: center;
  margin: 0 auto;
  left: 20px; 
}
.navbar-custom {
  font-family: 'montserratbold';
  text-transform: uppercase;
  border: none;
  margin:0;
  background-color: #0035AA;
  -webkit-box-shadow: inset 0px -165px 97px -120px rgba(0,53,170,0.75);
  -moz-box-shadow: inset 0px -165px 97px -120px rgba(0,53,170,0.75);
  box-shadow: inset 0px -165px 97px -120px rgba(0,53,170,0.75);
}
.btn-default{
  padding: 0px !important;
}
.btn-default img{
  width: 34px;
  padding: 6px !important;
}
.lupa{
  background-image: url('../img/lupa.png');
  width: 37px;
  height: 37px;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-default .navbar-form {
  font-family: 'montserratregular' !important; 
}
.input-group-btn{
  text-align: left;
}
.input-group-btn .btn-default{
  border: 0px;
  padding: 7px;
  border-radius: 0px;
}
.form-control{
  border-radius: 2px !important;
  font-family: 'montserrathairline';
  font-size: 20px;
  font-weight: 100;

}
.navbar-form .input-group>.form-control {
    width: 100%;
    padding-left: 10px;
    border: 0px;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
  border-bottom: 2px solid transparent;
  font-family: 'montserratregular';
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  text-shadow: 3px 3px 2px black;
}
.navbar-custom .navbar-nav li a:hover {
  color: #FFF500;
  outline: none;
  border-bottom: 2px solid #FFF500;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: #FFF500;
}
.navbar-custom .navbar-nav li.active a {
  color: #FFF500;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #18BC9C;
  color: white;
  border-color: #18BC9C;
}
@media (min-width: 768px) {
  .dropdown{
    top: 10px;
  }
  .navbar-custom {
    padding: 250px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    padding-top: 10px;
    padding-bottom: 60px;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    /*padding: 20px 0;*/
    padding-bottom: 0px;
  }
  .navbar-custom.affix .navbar-brand {
    
  }
  .navbar-custom.affix .tipo-pais{
    
  }
  .navbar-custom.affix .slogan{
    display: none;
  }
  .navbar-custom.affix .container-search{
    margin: 0px;
    text-align: left;
    position: relative;
    left: -32px;
    display: inline-block;
    width: 100%;
    margin-top: -14px;
    position: relative;
    top: -30px;
    margin-bottom: -16px;
  }
}
section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background: #18BC9C;
  color: white;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #18BC9C;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
footer {
  color: white;
}
footer h3 {
  text-align: left;
  font-size: 22px;
  font-family: 'montserratregular';
  padding-left: 30px;ª
}
footer p{
  font-size: 19px;
  font-family: 'montserrathairline';
  text-align: left;
  font-weight: lighter;
  margin-bottom: 0px;
  padding-left: 30px;
}
.container-logo-footer img{
  text-align: center;
  margin: 0 auto;
  width: 80%;
  position: relative;
  top: 30px;
}
footer .footer-above {
  background-color: black;
  background-color: black;
  padding-bottom: 22px;
}
footer .footer-above .container{
  border-bottom: 1px solid white;
}
footer .footer-above .container .col-xs-12{
  padding: 20px;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 10px 0;
  background-color: black;
  text-align: left;
  padding-left: 30px;
  font-family: 'montserrathairline';
  font-size: 18px;
}
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #18BC9C;
  background: white;
  border: solid 2px white;
}
.btn-primary {
  color: white;
  background-color: black;
  border-color: black;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: black;
  border-color: black;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
  background-color: black !important;
  border-color: black !important;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2C3E50;
  border-color: #2C3E50;
}
.btn-primary .badge {
  color: #2C3E50;
  background-color: white;
}
.btn-success {
  color: white;
  background-color: #18BC9C;
  border-color: #18BC9C;
  font-weight: 700;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #128f76;
  border-color: #11866f;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #18BC9C;
  border-color: #18BC9C;
}
.btn-success .badge {
  color: #18BC9C;
  background-color: white;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.paddin-contenido{
  padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.paddin-contenido:hover{
  background: #F2F2F2;
  cursor: pointer;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
  background-color: #B8B8B8 !important;
  border-color: transparent !important;
}
.scroll-top .btn:hover{
    background-color: black !important;
}
.scroll-top .btn:focus {
  outline: none;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
    border-right: 2px solid #b8b8b8;
    padding-bottom: 60px;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-right>li {
  margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;

}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 2px solid #ddd;
  border-left-color: transparent;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}

.nav-tabs>li>a{
  color: black;
  font-size: 13px;
  font-family: 'montserratregular';
  text-transform: uppercase;
  text-align: right;
  padding-top: 0px;
}
.nav-tabs>li.active>a{
    color: #E9001E !important;
    font-size: 13px !important;
    font-family: 'montserratsemi_bold' !important; 
    text-transform: uppercase;
    margin-right: 1px;
}
.titulo-page{
  color: black;
  padding-left: 15px;
  font-family: 'montserratsemi_bold' !important; 
  margin-top: 30px;
  font-size: 40px;
  text-transform: capitalize;
}
.barra-azul{
  width: 91px;
  height: 4px;
  background-color: #0035AA;
  display: block;
  margin-left: 15px;
}
.contenido-page > p{
  font-family: 'montserratsemi_bold' !important; 
  font-size: 20px;
  color: black;
}
.contenido-page > p span{
  font-family: 'montserratlight' !important;
}
.medios{
      padding-right: 14px;
    border-top: 1px solid #f8f8f8;
    padding-top: 10px;
    font-family: 'montserratsemi_bold';
}
.medios a{
      font-size: 12px !important;
    font-family: 'montserratlight' !important;
    text-align: left !important;
}
.totalmedios{
  color: #E9001E !important;
    font-size: 13px !important;
    font-family: 'montserratsemi_bold' 
}
#medio-contenet{
  border: 1px solid #d1d1d1;
    padding: 20px;
    border-bottom: 4px solid #0035AA;
    padding-top: 20px;
    margin-bottom: 20px;
    width: 32%;
    margin-right: 10px;
  }
#medio-contenet .titulo-note{
  width: 85%;
}
  .linked{
    display: block;
    background: #F2F2F2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'montserratsemi_bold';
    font-size: 12px;
    color: #333;
  }
  .linked:hover{
    background: #FFE400;
    text-decoration: none !important;
    color: #333;
  }
.contenido-page h1,
.contenido-page h2,
.contenido-page h3,
.contenido-page h4{
  color: #0035AA !important;
  font-size: 20px !important;
  text-transform: inherit;
}
.nav-tabs>li>a:hover{
  background-color: none !important;
  cursor: pointer !important;
  display: block;
}
.content-noticias-single{
  border: 1px solid #d1d1d1;
  border-bottom: 4px solid #0035AA;
  margin-bottom: 20px;
}
.content-noticias-single .contenido{
  padding: 40px;
  padding-top: 20px;
}
.footer-singel{
    width: 100%;
    background: #0035AA;
    text-align: right;
    padding: 8px;
    color: white;
}
.footer-singel a{
  color: white;
  font-size: 15px;
  font-family: 'montserratsemi_bold' !important; 
  padding-right: 15px;
}
.footer-singel a:hover{
  text-decoration: none !important;
  color: #b8b8b8;
}
.content-noticias{
  border: 1px solid #d1d1d1;
  padding: 40px;
  border-bottom: 4px solid #0035AA;
  padding-top: 20px;
  margin-bottom: 20px;
}
.content-noticias h1 {
  margin-top: 10px !important;
}
.triangulo-equilatero-top-right{
  width: 0;
  height: 0;
  border-right: 30px solid #2E4DA8;
  border-top: 30px solid #2E4DA8;
  border-left: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: relative;
  right: -55px;
  top: -20px;
  float: right;
  margin-right: 15px;
}
.rssFondo-back{
	border-right: 30px solid #FFE400 !important;
    border-top: 30px solid #FFE400 !important;
}
.triangulo-equilatero-top-right .faceFondo{
  background-image: url(../img/facebook.png);
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    z-index: 1;
    position: relative;
    height: 18px;
    width: 8px;
    top: -20px;
    left: 10px;
    background-size: 100% 100%;
}
.triangulo-equilatero-top-right .rssFondo{
  background-image: url(../img/rss.png);
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    z-index: 1;
    position: relative;
    width: 16px;
    top: -22px;
    left: 7px;
    height: 16px;
    background-size: 100% 100%;
}
.entry p{
    padding-left: 42px;
    font-size: 16px;
    line-height: 23px;
    font-family: 'montserratultra_light';
}
.entry p:first-line{
  font-family: 'montserratregular';
  font-size: 17px;
}
#container-tweets-single,
#container-tweets{
  padding-right: 0px !important;
}
#container-tweets-single h2,
#container-tweets h2{
  background-color: black;
    margin-top: 0px;
    font-size: 18px;
    font-family: 'montserratbold';
    padding: 10px;
    text-transform: none;
    color: white;
    text-align: center;
}
.nav-tabs>li>a:hover{
  border-color: transparent !important;
  background-color: transparent !important;
  color: #E9001E !important;
}
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
  background-color: #ddd;
  border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #3071a9;
  border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
  color: #428bca;
  background-color: #fff;
  border-color: #428bca;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
/********************************************************************/
/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
  color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
  color: #3c763d;
  background-color: #d6e9c6;
  border-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
  color: #3c763d;
  background-color: #fff;
  border-color: #d6e9c6;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;   
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
}
/********************************************************************/
/*** PANEL INFO ***/
.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
  color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
  color: #31708f;
  background-color: #bce8f1;
  border-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
  color: #31708f;
  background-color: #fff;
  border-color: #bce8f1;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;   
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
}
/********************************************************************/
/*** PANEL WARNING ***/
.with-nav-tabs.panel-warning .nav-tabs > li > a,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
  color: #8a6d3b;
}
.with-nav-tabs.panel-warning .nav-tabs > .open > a,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
  color: #8a6d3b;
  background-color: #faebcc;
  border-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
  color: #8a6d3b;
  background-color: #fff;
  border-color: #faebcc;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #8a6d3b; 
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #8a6d3b;
}
/********************************************************************/
/*** PANEL DANGER ***/
.with-nav-tabs.panel-danger .nav-tabs > li > a,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
  color: #a94442;
}
.with-nav-tabs.panel-danger .nav-tabs > .open > a,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
  color: #a94442;
  background-color: #ebccd1;
  border-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
  color: #a94442;
  background-color: #fff;
  border-color: #ebccd1;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f2dede; /* bg color */
    border-color: #ebccd1; /* border color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #a94442; /* normal text color */  
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ebccd1; /* hover bg color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff; /* active text color */
    background-color: #a94442; /* active bg color */
}
/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/


/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }	
	
}
@media (max-width: 1025px) { 
	.slogan{
	    width: 90% !important;
	}
	.container-tweets p{
		font-size: 13px !important;
	}
	blockquote {
    	padding: 0px 18px !important;
	}
	
	
}
@media (min-width: 992px){
	#medio-contenet {
    	width:50% !important;
	}
}
@media (min-width: 1025px) { 
	#medio-contenet {
    	width:32% !important;
	}
}
@media (max-width: 991px) { 
	.slogan{
		top: 50px !important;
    	font-size: 35px !important;
		margin-top: 0px !important;	
	}
	.navbar-nav>li,
	.container-agregate{
		display:none;	
	}
	#container-noticias{
		    padding-top: 385px;
	}
	#medio-contenet{
		    width: 100% !important;
			padding: 65px;
			padding-top:20px !important;
	}
}
@media (max-width: 767px) { 
	.page-scroll > .dropdown,
	.container-banner,
	.tabs-left{
		display:none;
	}
	.navbar-header{
		min-height: 100px;
	}
	#container-noticias {
		padding-top: 130px !important;
	}
	.navbar-nav>li{
		display:block !important;
	}
	.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus{
		background-color: #FFE400;
    	color: white;
    	border-color: #FFE400;
	}
}
@media (max-width: 767px) { 
	.container-logo-footer,
	#myselect{
		display:none;
	}
}
@media (max-width: 500px) { 
	#medio-contenet{
		padding-left: 10px !important;
   	 padding-right: 10px !important;
	}
}

.left{
    background: none !important;
    top: 80%;
    margin-left: -15px;
    color: #E9001E !important;
    z-index: 111;
}
.right{
    background: none !important;
    top: 80%;
    margin-right: -15px;
    color: #E9001E !important;
    z-index: 111;

}
label{
      font-size: 17px;
    font-family: 'montserratregular';
    color: black;
}
textarea,
input{
  border: 2px solid #C1C1C1;
}
.wpcf7-submit{
      font-size: 17px !important;
    border: transparent !important;
    background: #F2F2F2 !important;
    padding: 7px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
select{
	float: left;
    position: relative;
    top: 15px;
    font-weight: 700;
    font-size: 25px;
    left: -10px;
    text-align: center;
    text-transform: uppercase;
    border: none;
	background:none;
	letter-spacing:3px;
      background-repeat: no-repeat !important;
    background-position: right !important;
    padding-right: 30px;
} 
select#myselect option[label="rio"] {
    background-image:url("../img/flat_rio.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 10px;
    margin-right: 5px;
}

select#myselect option[label="caribe"] {
    background-image:url("../img/flat_caribe.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 10px;
    margin-right: 5px;
}

select#myselect option[label="rosario"] {
    background-image:url("../img/flat_rosario.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 10px;
    margin-right: 5px;
}

select#myselect option[label="mesomexico"] {
    background-image:url("../img/flat_mesomexico.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 10px;
    margin-right: 5px;
}

audio {
  width: 20px;
}